In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
train = pd.read_csv('titanic_train.csv')
test = pd.read_csv('titanic_test.csv')

In [7]:
train.head()
train2 = train.drop(['Name', 'Ticket', 'Cabin' ], axis = 1)

In [11]:
train2.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [10]:
train2.Age.mean()

29.69911764705882

In [14]:
train2['Age']=train2['Age'].interpolate()

In [22]:
train['Embarked']

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [20]:
train2['Sex']=pd.get_dummies(train2.Sex, drop_first=True)
train2['Embarked']=pd.get_dummies(train2.Embarked, drop_first=True)

In [26]:
#train2.drop('Embarked', axis=1, inplace=True)
train2.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    1  22.0      1      0   7.2500
1            2         1       1    0  38.0      1      0  71.2833
2            3         1       3    0  26.0      0      0   7.9250
3            4         1       1    0  35.0      1      0  53.1000
4            5         0       3    1  35.0      0      0   8.0500

In [28]:
embarked =pd.get_dummies(train['Embarked'], drop_first = True)

In [32]:
train3=pd.concat([train2, embarked], axis =1)

In [38]:
y = train3['Survived']
columns = ['PassengerId', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']
x = train3[columns]

In [33]:
from sklearn.model_selection import train_test_split

In [111]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3)

In [112]:
# model formation

In [113]:
from sklearn.tree import DecisionTreeClassifier

In [114]:
from sklearn.ensemble import RandomForestClassifier

In [115]:
model_tree = DecisionTreeClassifier()
model_forest = RandomForestClassifier()

In [124]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3)

In [125]:
model_tree.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [130]:
model_tree.score(x_test, y_test)

0.7574626865671642

In [154]:
# Random forest

model_forest = RandomForestClassifier(n_estimators=87)

In [155]:
model_forest.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=87,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [156]:
model_forest.score(x_test, y_test)

0.8656716417910447

In [81]:
test = pd.read_csv('titanic_test.csv')
test_new = test[columns]

In [87]:
test_new['Age'] = test_new.Age.interpolate()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [90]:
test_new['Fare'] = test_new['Fare'].interpolate()

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [91]:
test_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           418 non-null float64
dtypes: float64(2), int64(4), object(1)
memory usage: 23.0+ KB

In [98]:
test_new['Sex']=pd.get_dummies(test.Sex, drop_first=True)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [157]:
predictions3 = model_forest.predict(test_new)


#train.head(1)

In [103]:
submission_df = {'PassengerId': test['PassengerId'],
                'Survived': predictions}

In [158]:
submission_df3 = {'PassengerId': test['PassengerId'],
                'Survived': predictions3}
submission_df3 = pd.DataFrame(submission_df3)
submission_df3.to_csv('titanic_submission_86per.csv', index=False)
pd.read_csv('titanic_submission_86per.csv')

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [106]:
submission_83_percentage=pd.DataFrame(submission_df)

In [109]:
submission_83_percentage.to_csv('titanic_submission_83_per.csv', index=False)

In [110]:
pd.read_csv('titanic_submission_83_per.csv')

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         0
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

# testing with SVM method

In [167]:
from sklearn.svm import SVC

In [172]:
model_svm = SVC(kernel='linear')
model_svm.fit(x_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [173]:
model_svm.score(x_test, y_test)

0.8134328358208955

# sumbitted copy on kaggle

In [176]:
pred_svm = model_svm.predict(test_new)
#pred_svm

In [177]:
submission_svm = {'PassengerId': test['PassengerId'],
                'Survived': pred_svm}

In [178]:
submit_svm = pd.DataFrame(submission_svm)

In [179]:
submit_svm.to_csv('titanic_submission_sv.csv', index=False)
pd.read_csv('titanic_submission_sv.csv')

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]